/node_modules/
.idea/
public/*
!public/default/.gitkeep
secret/
data/storage/*
!data/storage/default.json
!data/storage/custom/custom.json.dist
!data/storage/custom/.gitkeep
data/webhook/*
!data/webhook/default.json
!data/webhook/custom/.gitkeep